# 01. Data preprocessing for behavioral market segmentation

### Before the beginning, I strongly recommend you to read the documents describing the data. They are located here: "project_root/data/raw_data/"

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
import numpy as np

For the purposes of extracting behavioral data, I need 1 sheet - "DurData_June 24, 2011", from our dataset.

In [2]:
transactions_df = pd.read_excel('../../data/raw_data/data.xlsx', sheet_name = "DurData_June 24, 2011")

In [3]:
initial_data = transactions_df.copy()

Some information about the data:

In [4]:
transactions_df.isna().sum()

Household_ID                        0
Transaction_NBR                     0
Transaction_Total                   0
Transaction_Date                    0
Transaction_Location                0
Online_Transaction                  0
ORIGINAL_TICKET_NBR                 0
Transaction_type                    0
PRODUCT_ID                      41163
Category_Description              517
Sub_Category_NBR                    0
Sub_Category_Description         3847
Transaction_Type_Description       36
Quantity                            0
UNIT_PRICE                          0
EXTENDED_PRICE                      0
RETURN_IND                      13411
Return_Location_If Any              0
Age_H.Head                      20971
CHILDERN_PRESENCE               91777
Income                          20455
GENDER_H.Head                       0
Gender_Individual               14575
MALE_CHID_AGE_0-2                   0
MALE_CHID_AGE_3-5                   0
MALE_CHID_AGE_6-10                  0
MALE_CHID_AGE_11-15                 0
MALE_CHID_AGE_16-17                 0
FEMALE_CHID_AGE_0-2                 0
FEMALE_CHID_AGE_3-5                 0
FEMALE_CHID_AGE_6-10                0
FEMALE_CHID_AGE_11-15               0
FEMALE_CHID_AGE_16-17               0
UNKNOWN_CHID_AGE_0-2                0
UNKNOWN_CHID_AGE_3-5                0
UNKNOWN_CHID_AGE_6-10               0
UNKNOWN_CHID_AGE_11-15              0
UNKNOWN_CHID_AGE_16-17              0
dtype: int64

In [5]:
transactions_df.head()

,Household_ID,Transaction_NBR,Transaction_Total,Transaction_Date,Transaction_Location,Online_Transaction,ORIGINAL_TICKET_NBR,Transaction_type,PRODUCT_ID,Category_Description,...,FEMALE_CHID_AGE_0-2,FEMALE_CHID_AGE_3-5,FEMALE_CHID_AGE_6-10,FEMALE_CHID_AGE_11-15,FEMALE_CHID_AGE_16-17,UNKNOWN_CHID_AGE_0-2,UNKNOWN_CHID_AGE_3-5,UNKNOWN_CHID_AGE_6-10,UNKNOWN_CHID_AGE_11-15,UNKNOWN_CHID_AGE_16-17
0,100003544,1,1,06JUN2003:00:00:00,537,0,53703232083,1,879852.0,VIDEO HDWR,...,0,0,0,0,0,0,0,0,0,0
1,100012312,1,2,09JAN2001:00:00:00,841,0,84102381410,1,580994.0,TELEVISION,...,0,0,0,0,0,0,0,0,0,0
2,100012312,2,2,09JAN2001:00:00:00,841,0,84102381410,1,720025.0,P*S*T,...,0,0,0,0,0,0,0,0,0,0
3,100016237,1,1,22JAN2001:00:00:00,949,0,94904161842,1,575635.0,P*S*T,...,0,0,0,0,0,0,0,0,0,0
4,100022945,1,11,30JAN2001:00:00:00,521,0,52101921224,1,545443.0,MOBILE,...,0,0,0,0,1,0,0,0,0,0

---

I leave only 'buy' transactions, which have not been returned.

In [6]:
transactions_df = transactions_df[transactions_df.Transaction_type == 1]

In [7]:
transactions_df = transactions_df[transactions_df.RETURN_IND == 'N']

Leave only relevant columns for analysis: "Household_ID" - to indentify the customer. "Category_Description", 'Quantity' and "EXTENDED_PRICE" - UNIT_PRICE * Quantity.

In [8]:
transactions_df = transactions_df[['Household_ID', 'Category_Description', 'Quantity', 'EXTENDED_PRICE']]

Leaving only transactions with defined category.

In [9]:
transactions_df = transactions_df[transactions_df.Category_Description.notna()]

To find how many items were bought and how much money were spent in each particular category I group the data, by Household_ID and Category_Description and use "sum" aggregate function:

In [10]:
transactions_df = transactions_df.groupby(['Household_ID','Category_Description'], as_index = False).sum()

Now each row in data frame, represents: Houshold_id, category, total number of items bought in this category,total amount of money spent in this category.

In [11]:
transactions_df.head()

   Household_ID Category_Description  Quantity  EXTENDED_PRICE
0     100003544           VIDEO HDWR         1           99.97
1     100012312                P*S*T         1           19.99
2     100012312           TELEVISION         1            9.99
3     100016237                P*S*T         1           89.99
4     100022945              IMAGING         1          259.99

Extract unique categories from out data frame, and sorting them in alphabetical order:

In [12]:
categories = transactions_df.Category_Description.unique().tolist()

In [13]:
categories.sort()

Creating a new data frame, where each row will have housholdId, number of items bought in each category and amount of money spent in each category.

In [14]:
behavioral_df = pd.DataFrame()

In [15]:
behavioral_df['Household_ID'] = 0

In [16]:
behavioral_df['Household_ID'] = transactions_df.Household_ID.unique()

In [17]:
# creating separate column for each category, value - represents the number of purchases in this category.
for i in categories:
    n = str(i) + '_QNT'
    behavioral_df[n] = 0
# creating separate column for each category, value - represents the amount of money spent in this category.
for i in categories:
    spend = str(i) + '_SPND'
    behavioral_df[spend] = 0

In [18]:
behavioral_df.head()

,Household_ID,AUDIO_QNT,DVS_QNT,EXPRESS_QNT,GIFT CARDS_QNT,HOME INS_QNT,IMAGING_QNT,INTABGIBLE_QNT,MAJORS_QNT,MOBILE_QNT,...,INTABGIBLE_SPND,MAJORS_SPND,MOBILE_SPND,MUSIC_SPND,OTHER_SPND,P*S*T_SPND,PC HDWR_SPND,TELEVISION_SPND,VIDEO HDWR_SPND,WIRELESS_SPND
0,100003544,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,100012312,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,100016237,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,100022945,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,100022976,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

For each row in our transactional data, find row in behavioral data set, with matching ID, and update values for particular category:

**This will take some time.**

In [19]:
for i in transactions_df.itertuples(): 
    behavioral_df.loc[behavioral_df.Household_ID == i.Household_ID\
                       , i.Category_Description + '_QNT'] += i.Quantity
    behavioral_df.loc[behavioral_df.Household_ID == i.Household_ID\
                   , i.Category_Description + '_SPND'] += i.EXTENDED_PRICE

Check:

In [20]:
behavioral_df[behavioral_df['AUDIO_QNT'] == behavioral_df['AUDIO_QNT'].max()][['Household_ID', 'AUDIO_QNT', 'AUDIO_SPND']]

      Household_ID  AUDIO_QNT  AUDIO_SPND
2412     106680329        361     2801.29

In [21]:
initial_data[(initial_data.Household_ID == 106680329) & \
       (initial_data.Category_Description == 'AUDIO') & (initial_data.RETURN_IND == 'N')\
        & (initial_data.Transaction_type == 1)].EXTENDED_PRICE.sum()

2801.29

In [22]:
initial_data[(initial_data.Household_ID == 106680329) & \
       (initial_data.Category_Description == 'AUDIO') & (initial_data.RETURN_IND == 'N')\
       & (initial_data.Transaction_type == 1)].Quantity.sum()

361

Our behavioral data set, was constructed, under several assumptions:
- we took into account only 'buy' transactions, which were not returned to the store later.
- category of a good, should be defined. i.e. no 'na' values.

In the resulting behavioral data, we report number of items, bought, not the number of transactions.

In [23]:
behavioral_df.set_index('Household_ID',inplace = True)

In [24]:
behavioral_df.to_csv("../../data/processed_data/behavioral_data.csv")